workflow-chatbot-telegram.json
{
  "name": "FTR | Chat telegram",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f44b8553-ae52-4fc1-9067-f1c8fc7ff407",
              "name": "queue",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "20b0b957-8bca-41df-a59b-f80b6b990615",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "65d954bd-26a1-4e43-a6f2-a1844103d4cc",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "cff52d05-ffec-46a2-97e4-0d64d4b63208",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c165ed9-f721-4954-9841-4bb79aa0b259",
              "name": "queue",
              "value": "={{ $json.queue.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "0667398f-ae94-45cd-b0e2-1172aa03dc2b",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "f4807529-77b1-401d-a183-66583217cc61",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "https://home.openweathermap.org/api_keys",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metrics"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "=={$env.619c231b7c11593ed259ebdf341b033b}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "4d6ea515-2e2b-444f-8ec6-76cb7c9f46bf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ce1e402-d3e5-4055-8160-433a236e84c8",
              "leftValue": "=={{ $json.main.temp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "c560b69c-7052-497e-bdfb-25a8e33856df",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fedabd49-dd8d-4863-8c7f-5179cdc12a3c",
              "name": "message",
              "value": "=={{ \"A temperatura em \" + $json.name + \" é de \" + Math.round($json.main.temp) + \"°C.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -96
      ],
      "id": "da326534-625c-4cb2-898f-e0d3400ad536",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "chatId": "=={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        -96
      ],
      "id": "724ae422-6321-40b9-9350-597b67d18b62",
      "name": "Send a text message",
      "webhookId": "3f941a14-134e-4af4-9751-c3d73bccf252",
      "credentials": {
        "telegramApi": {
          "id": "Sem87XfbppWwyrnr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3a35ef4-3991-434c-aea4-a9864a293d96",
              "name": "message",
              "value": "Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        96
      ],
      "id": "3b2564a2-7d63-4ffc-84d2-004f20e8288c",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "chatId": "=={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "=={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        96
      ],
      "id": "9708176b-dd7d-4e4d-acbc-f7f0f0d9ebf8",
      "name": "Send a text message1",
      "webhookId": "1da57bf9-2f60-4157-bdb1-e816e9540d1c",
      "credentials": {
        "telegramApi": {
          "id": "Sem87XfbppWwyrnr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4d5860c1-655a-4388-a29a-fc142bd71dd5",
      "name": "Telegram Trigger",
      "webhookId": "5f6c9e98-2167-416e-b436-bc6e703effb0",
      "credentials": {
        "telegramApi": {
          "id": "Ak8AhzbCClwzERwp",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 856874523,
          "message": {
            "message_id": 2,
            "from": {
              "id": 1357825914,
              "is_bot": false,
              "first_name": "Carolina",
              "last_name": "Meth",
              "username": "CarolinaMeth",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 1357825914,
              "first_name": "Carolina",
              "last_name": "Meth",
              "username": "CarolinaMeth",
              "type": "private"
            },
            "date": 1768002156,
            "text": "rio de janeiro, rj"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a5fddca0-1633-4252-bd1c-d65f28fcb003",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e88a6dbfd279a719a4afcdce21e91fa7009d552a63353a994547e04de37aca84"
  },
  "id": "nhGOGbpjLUmnZc6bAWblf",
  "tags": []
}